 @media all and (max-width: 1166px) {
     .en_tete {
         margin: 50px;
     }
     .container_navbar {
         display: none;
     }
     .container_navbar_smart {
         display: block;
         width: 100%;
         background-color: #74A7E9;
         height: 100px;
         z-index: 100;
         min-width: 360px;
         font-size: 1.5rem;
     }
     .container_navbar_smart ul {
         z-index: 1;
         display: flex;
         flex-direction: column;
         list-style: none;
     }
     .container_navbar_smart ul a {
         padding: 20px;
     }
     .container_navbar_smart ul a:first-child {
         margin-top: 90px;
         padding: 20px;
     }
     .container_navbar_smart img {
         position: relative;
         margin: 22px 5px;
         line-height: 100px;
         vertical-align: middle;
         z-index: 120;
     }
     .container_navbar_smart ul a {
         text-decoration: none;
         font-weight: 700;
         color: #fff;
     }
     .container_navbar_smart i {
         position: absolute;
         font-size: 3rem;
         right: 5px;
         top: 0;
         cursor: pointer;
         color: #fff;
         z-index: 100;
     }
     .toggle_burger i {
         position: relative;
         margin: 0 20px;
         line-height: 100px;
         vertical-align: middle;
     }
     .ouvrir {
         display: block;
         z-index: 100;
     }
     .fermer {
         display: none;
     }
     .open .ouvrir {
         display: none;
     }
     .open .fermer {
         display: block;
     }
     .menu_smart {
         position: absolute;
         transform: translateX(-100%);
         transition: 0.5s ease-in-out;
         width: 100%;
         height: 100vh;
         background-color: #74A7E9;
         z-index: -1;
     }
     .open .menu_smart {
         transform: translateX(0);
     }
 }